* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}
.menu-container {
  background-color: lightpink;
  height: 4rem;
}
.formula-container {
  background-color: lightblue;
  height: 2rem;
}

.grid-container {
  border: 1px solid black;
  background-color: lightgreen;
  height: calc(100vh - (4rem + 2rem + 2rem));
}
.sheets-container {
  background-color: aqua;
  height: 2rem;
  display: flex;
}
.add-sheet-btn-container {
  width: 3rem;
  height: 100%;
  border: 1 px solid black;
  padding-top: 0.2rem;
  padding-left: 0.5rem;
}

.sheet-list {
  width: calc(100vw - 3rem);
  border: 1px solid black;
}

.sheet {
  width: 5rem;
  height: 100%;
  border: 1px solid blue;
}
